<div class="field is-grouped">
    <p class="control is-expanded">
        <input type="text" class="<%= inputClass %> input">
    </p>
    <p class="control">
        <a type="button" class="add-task button is-info">Add Task</a>
    </p>
</div>
<div class="box">
    <label>Tasks:</label>
    <div class="tasks-container">
        <% tasks.map(function(task, index)
            {
                print(task.getRenderedTemplate(index));
            });
        %>
    </div>
</div>
<div class="block">
    <a type="button" class="complete-task button is-primary">Complete Task</a>
    <a type="button" class="delete-task button is-danger">Delete Task</a>
</div>